aniso8601==9.0.1
attrs==21.2.0
click==8.0.3
Flask==2.0.2
Flask-Cors==3.0.10
flask-restx==0.5.1
gunicorn==19.9.0
itsdangerous==2.0.1
Jinja2==3.0.3
jsonschema==3.2.0
loguru==0.4.0
MarkupSafe
numpy==1.23.0
pandas==1.2.4
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2021.1
six==1.16.0
Werkzeug==2.0.2
